/* Bei html-Dokumenten kommentieren wir Bereiche im Quellcode mit den Zeichen <!-- und --> . Bei css-Dateien erfüllen die Markierungen / * und * /  (ohne Leerzeichen) diese Funktion */

/* Höhen und Breiten */

.spielfeld {
	height: 50;
	width: 50;
}

/* Farben */

.schwarz {
	background-color: #000000;
}

.weiß {
	background-color: #ffffff;
}

/* Eine Klasse wird stets durch einen dem Namen vorangestellten Punkt ausgezeichnet! */

/* Ränder */

.border {
	border: 1px solid #000000;
}